:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P-Regular", fantasy;
  --accent-weight: 700;
  --main-weight: 400;
  --bg-color: #fff;
  --accent-color: #fff;
  --max-width-container: clamp(23.438rem, 16.373rem + 30.141vi, 43.5rem);
  --like-color: #FF0000;
  --bg-gradient: repeating-linear-gradient(
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(#e7e7e7, #1a1a1a);
}
